.blobsContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: space-between;
    margin: 100px auto 0;
    max-width: 1472px;
}

.mySwiper {
    width: 100%;
}

.swiper-pagination {
    height: 50px;
}

