:root {
    --mainRed: #ff3e00;
    --bgMain: #FBFBFB;
}

html {
    background-color: var(--bgMain);
}


/* make use of utility classes */
.textRed {
    color: var(--mainRed);
}

.bgRed {
    background-color: var(--mainRed);
}

.bgBlue {
    background-color: var(--ozBlue);
}
